export(coefplot)
export(funnel)
export(plot)
export(predict.rrma)
export(rrma)
S3method(coef,rrma)
S3method(predict,rrma)
S3method(print,rrma)
S3method(residuals,rrma)
S3method(summary,rrma)
S3method(vcov,rrma)
